<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjy52UmPjtMV00O7so8P_TfEr-gspuNZA</string>
	<key>GCM_SENDER_ID</key>
	<string>245106255438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ufba.mobilefilafacil</string>
	<key>PROJECT_ID</key>
	<string>fila-facil-a7282</string>
	<key>STORAGE_BUCKET</key>
	<string>fila-facil-a7282.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245106255438:ios:7b2ee2a5d547d17be1c51f</string>
</dict>
</plist>